<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>AuditableBlindCA - Verifying</title>
  
  <link rel="stylesheet" href="../static/css/normalize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Fonts -->
  <link href='../static/fonts/roboto.css' rel='stylesheet' type='text/css'>
  <link href="../static/fonts/font.min.css" rel="stylesheet" type="text/css">
    
  <!-- // Fonts -->
  
  <script type="text/javascript" src= "../static/js/jquery.min.js"></script>
  <script type="text/javascript" src= "../static/js/verifying.js"></script>
  <script type="text/javascript" src= "../static/js/domain.js"></script>
  
</head>
<body>
		<!-- Vertical Timeline -->
		<section id="conference-timeline">
		<div class="container">
		<ol class="timeline">
		<li>
		<p class="lined">Preparation </p>
		<a href = "index" id = "a_index"><span class="pointed"></span></a>
		</li>

		<li>
		<p class="lined">Issuing</p>
		<a href = "issuing" id = "a_issuing"><span class="pointed"></span></a>
		</li>

		<li>
		<p class="lined">Verifying</p>
		<a href = "verifying" id = "a_verifying"><span class="pointed"></span></a>
		</li>

		<li>
		<p class="line">Tracing</p>
		<a href = "tracing" id = "a_tracing"><span class="point"></span></a>
		</li>
		</ol>
		</div>

		Smart Contract Registration
		<hr>
		<!-- Article -->
		<div class="timeline-article">
		
		<div class="content-right-container">

		<div class="content-right">
		<p>
		<span class="article-number">User</span>
		<label for="description"> y = </label><span class=""><input id = "y1"></input></span><br>
		<label for="description">&#950;<sub>1</sub> = </label><span class=""><input id = "zeta1"></input></span><br>
		<label for="description">&#961; = </label><span class=""><input id = "rho"></input></span><br>
		<label for="description">&#969; = </label><span class=""><input id = "omega"></input></span><br>
		<label for="description">&#963;<sub>1</sub> = </label><span class=""><input id = "sigma1"></input></span><br>
		<label for="description">&#963;<sub>2</sub> = </label><span class=""><input id = "sigma2"></input></span><br>
		<label for="description">&#948; = </label><span class=""><input id = "delta"></input></span><br>
		<!-- m = <span class=""><input id = "m"></input></span><br> -->
		<hr>
		Cred = (&#931;, m), 
		&#931; = (&#950;<sub>1</sub>, &#961;,&#969;,&#963;<sub>1</sub>,&#963;<sub>2</sub>,&#948;) <br>
		<a href = "javascript: void(0)" class="" id = "button2" >Show full credential</a>
		</p>
		</div>
		</div>
		</div>
		<!-- // Article --> 
		
		<!-- Article -->
		<div class="timeline-article">
		<div class="content-left-container">
		<div class="content-left">
		<p>
		<span class="article-number" style ="font-size:42px;left:-140px">Verifier</span>
		<a href = "javascript: void(0)" class="" id = "verifyCred">VerifyCred</a><br>
		<label class="textdescription"> y = </label><span class=""><input id = "y2"></input></span><br>
		<label class="textdescription"> &#969; + &#948;  = </label><span class=""><input id = "omegadelta"></input></span><br>
		<label class="textdescription"> hashresult = </label> <span class=""><input id = "hashresult"></input></span><br>
		<hr>
		<p id = "res" style = "color: #1f3583 "> </p>
		</p>
		</div>
		</div>
		<div class="meta-date">
		<span class="data">credential <br> &nbsp;</span>
		<span class="date">&larr;</span>
		</div>
		</div>
      <!-- // Article -->

    </div> 
    <!-- <div class="timeline-end">End</div> -->
  </section>
  <!-- // Vertical Timeline -->
  
  
<div class="ca-popup" id="ca-popup-2">
  <div class="ca-popup-content">
    <span class="ca-exout">&times;</span>
    <div class="ca-part">
      <h1>Mr Frog's Credential</h1>
    </div>
    
    <img src="../static/img/frog1.png" class="ca-cover">
    <div class="ca-part">
      <br>
     <!--  <img class="ca-subscribe" src="../static/img/button.png">
      <img class="ca-logo" src="../static/img/logo.png"> -->
      <label class="textdescription"> Name: </label><span class=""><input id = "name2"  ></input></span><br> 
      <label class="textdescription"> Age: </label><span class=""><input id = "age2"></input></span><br> 
      <label class="textdescription"> Birthday: </label><span class=""><input id = "birthday2"></input></span><br> 
      <label class="textdescription"> Nationality: </label><span class=""><input id = "nationality2"></input></span><br> 
      <label class="textdescription"> Gender: </label><span class=""><input id = "gender2"></input></span><br> 
      <label class="textdescription"> Address: </label><span class=""><input id = "address2"></input></span>
      
      <hr>
      
      <label class="textdescription"> Issuer's PK = </label><span class=""><input id = "ipk"></input></span> <br>
      Signature = ( &#950;<sub>1</sub> || g<sup>&#961;</sup> y <sup>&#969;</sup> || g<sup>&#963;<sub>1</sub></sup> &#950;<sub>1</sub> <sup>&#948;</sup>
      || h<sup>&#963;<sub>2</sub></sup> &#950;<sub>2</sub> <sup>&#948;</sup> )
      <br><br><br>
      <!-- <label class="textdescription">&#961; = </label> <span class=""><input id = "rho"></input></span><br>
	  <label class="textdescription">&#969; = </label> <span class=""><input id = "omega"></input></span><br>
	  <label class="textdescription">&#963;<sub>1</sub> = </label> <span class=""><input id = "sigma1"></input></span><br>
	  <label class="textdescription">&#963;<sub>2</sub> = </label> <span class=""><input id = "sigma2"></input></span><br>
	  <label class="textdescription">&#948; = </label> <span class=""><input id = "delta"></input></span><br> -->
      
      <p>g, h are generators of subgroup of order q in Z<sub>p</sub><sup>*</sup>, which are publicly to each entity.
      &#961; &nbsp;,&#969;&nbsp;,&#963;<sub>1</sub>&nbsp;,&#963;<sub>2</sub>&nbsp;,&#948; is known to the user.
      </p>
    </div>
  </div>
</div>

<div id="copyright">
        <p>&copy; Copyright 2019 Rujia. All Rights Reserved</p>
</div>

</body>
</html>